<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/CSS/postDetails.css">
</head>
<body>
    <div class="container">
        <%- include('panels/content-panel'); %>
        <%- include('panels/control-panel'); %>
    </div>
    <div id="notificationContainer" class="notification-container"></div>
    <script>
        const uploadedImage = document.getElementById('uploadedImage');
        if (!uploadedImage.src || 
          uploadedImage.src.endsWith('undefined') || 
          uploadedImage.src === window.location.href) {
            uploadedImage.style.display = 'none';
        }// 3가지 경우에 대해 처리한다.
        // 댓글 삭제
        async function deleteComment(num) {
          try {
            const res = await fetch(`/posts/<%= post.post_id %>/comment/${num}`, {
              method: 'DELETE',
              headers: {
                  'Accept': 'application/json', // 클라이언트가 JSON 응답을 원함을 명시
              },
            });
            const payload = await res.json();

            if(payload.success) {
              window.location.replace('/posts/<%= post.post_id %>');
              //alert('댓글 삭제 완료.');
            }
            else alert(`댓글 삭제 실패: ${payload.error}`);
            
          } catch (error) {
            console.error('오류 발생:', error);
            alert('요청 중 오류가 발생했습니다.');
          }
        }

    </script>
    <script src="/JS/notification.js"></script>
    <script src="/JS/likeManager.js"></script>
    <script src="/JS/postmanager.js"></script>
</body>
</html>
<!--


-->