<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/CSS/postDetails.css">
</head>
<body>
  <div class="container">
    <h1>제목: <%= post.title %></h1>
    <p><%= post.content %></p>
    <img id="uploadedImage" src="<%= post.imageurl %>" loading="lazy" alt="Uploaded Image" style="max-width: 500px;" />
    <h4>작성일: <%= new Date(post.created_at).toLocaleDateString() %></h4>
    <h4>작성자: <%= postUser.username %></h4>
    <h4>좋아요: <%= post.like_count %>개</h4>
    <form method="POST" action="/posts/<%= post.post_id %>/<%= post.stat %>">
      <button type="submit">좋아요</button>
    </form>
    
    <form method="POST" action="/posts/<%= post.post_id %>/comment">
      <div>
        <textarea id="content" name="content" rows="5" placeholder="내용을 입력하세요" required></textarea>
      </div>
      <button type="submit">댓글 작성</button>
    </form>
    <div class="comment-list">
      <% comment.forEach(comment => { %>
          <div class="comment-card">
            <p><%= comment.content %></p>
            <span>(작성일: <%= new Date(comment.created_at).toLocaleDateString() %>)</span>
            <span>작성자: <%= comment.commentUser.username %></span>
            <button type="button" onclick="deleteComment('<%= comment.comment_id %>')">댓글 삭제</button>
          </div>
      <% }); %>
    </div>
    <a href="/posts/<%= post.post_id %>/update">게시글 수정</a>
    <a href="/posts">목록으로 돌아가기</a>
    <button type="button" onclick="deletePost()">게시글 삭제</button>
  </div>
  <div id="notificationContainer" class="notification-container">

  </div>
  <script>
    const uploadedImage = document.getElementById('uploadedImage');
    if (!uploadedImage.src || 
      uploadedImage.src.endsWith('undefined') || 
      uploadedImage.src === window.location.href) {
        uploadedImage.style.display = 'none';
    }// 3가지 경우에 대해 처리한다.
    // 댓글 삭제
    async function deleteComment(num) {
      try {
        const res = await fetch(`/posts/<%= post.post_id %>/comment/${num}`, {
          method: 'DELETE',
          headers: {
              'Accept': 'application/json', // 클라이언트가 JSON 응답을 원함을 명시
          },
        });
        const payload = await res.json();

        if(payload.ok) {
          window.location.replace('/posts/<%= post.post_id %>');
          //alert('댓글 삭제 완료.');
        }
        else alert(`댓글 삭제 실패: ${payload.error.message}`);
        
      } catch (error) {
        console.error('오류 발생:', error);
        alert('요청 중 오류가 발생했습니다.');
      }
    }
    // 게시글 삭제
    async function deletePost() {
      try {
        const res = await fetch(`/posts/<%= post.post_id %>`, {
          method: 'DELETE',
          headers: {
            'Accept': 'application/json', // 클라이언트가 JSON 응답을 원함을 명시
          },
        });
        const payload = await res.json();

        if(payload.ok) {
          window.location.replace('/posts');
          alert('게시글 삭제 완료.');
        }
        else alert(`게시글 삭제 실패: ${payload.error.message}`);
        
      } catch (error) {
        console.error('오류 발생:', error);
        alert('요청 중 오류가 발생했습니다.');
      }
    }

  </script>
  <script src="/JS/notification.js"></script>
</body>
</html>
